
html, body {
    height: 100%;
    margin: 0;
}
html {
  scroll-behavior: smooth; /* scroll */
}
body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  color: #1F3D47;
  line-height: 1.6;
  text-align: left;
}

.wrapper{
  background-color: #F6EFD7;
  min-height: 100vh;       /* растягиваем на всю высоту окна */
  display: flex;
  flex-direction: column;
}


.header {
  background:  #245654;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header a{
  margin-right: 1rem;
}
.main-content{
  background-color: #F6EFD7;
  flex: 1;                 /* занимает всё оставшееся место */
  display: flex;
  flex-direction: column;
}
.logo {
  border-radius: 0;
  float: left;
  max-width: 8rem;
  max-height: 4.8rem;

}

.hero {
  background: url('Images/Men-ski.jpg') center top no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}
h1{
  font-size: 2.5rem;
  text-align: center;
  margin: 0px;
  margin-bottom: 2rem;
}
h2{
  font-weight: 700;
  font-size: 2.25rem;
  color: #245654;
  margin: 0;
}
.hero h1 {
  padding-top: 40vh;
  left: 50%;
}

.hero-cart h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0px;
  padding-top: 30vh;
  left: 50%;
}
.filters{
  margin: 3rem 0 2rem 0;
}

.filters label {
  font-size: 1.5rem;  
  font-weight: 500;
  display: flex;       
  align-items: center;
  gap: 0.5rem;        
}

.filters select {
  font-size: 1.5rem;   
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  background-color: #fff;
  color: #1F3D47;
  cursor: pointer;
}

.filters option {
  font-size: 1.5rem; 
}
#filters-form {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.products {
    padding: 3rem;
    width: 100%;
    box-sizing: border-box; 
}

.product-container img{
  height: 50%;
  display: flex;
  align-items: center;
}

  


.container {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
  gap: 3rem;
  align-items: stretch;
}
.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(31, 61, 71, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px; 
  box-sizing: border-box;
  transition: transform 0.3s;
}

.card:hover {
  opacity: 70%;
}
.card-image-container {
  width: 100%;
  padding: 10px; 
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 10px;
}
.card-image {
  max-width: 100%;
  max-height: 300px; 
  object-fit: contain;
}
.card-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-title {
  color:#1F3D47;;
}

.card-price {
  font-size: 1.5rem;
  color: #c23833;
  font-weight: bold;
}
.card-price .old-price {
  text-decoration: line-through;
  color: #1F3D47A8;
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}




button {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  background: #245654;
  color:white;
  cursor: pointer;
  border: none;

}
.cta-button:hover, button:hover { 
  opacity: 0.7; }

.cta-button  {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  background: #c23833 ;
  color:white;
  cursor: pointer;
  border: none;
 
}
  
.footer {
  text-align: center;
  background: #245654;
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icons{
  margin-right: 2rem;

}
.social-icons a{
  margin-right: 1rem;

}
.footer p{
  margin-left: 3rem;
  
}
.loader {
	  width: 1em;
	  height: 1em;
	  border: 0.15em solid;
	  border-bottom-color: transparent;
	  border-radius: 50%;
	  display: inline-block;
	  box-sizing: border-box;
	  animation: rotation 1s linear infinite;
	}
	
	@keyframes rotation {
	  0% {
	    transform: rotate(0deg);
	  }
	
	  100% {
	    transform: rotate(360deg);
	  }
	}
main .loader {
	font-size: 2em;
}

.product-details {
  background: white;
  max-width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 1.5rem;
}

.product-image {
  display: block;
  max-width: 100%;
  max-height: 500px;    
  margin: 0 auto;       
  object-fit: contain;  
  background: white;  
  border-radius: 10px;
}

.product-title {
  font-size: 2rem;
  font-weight: 700;
 
}

.product-price {
  font-size: 1.5rem;
  color: #c23833;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.product-price .old-price {
  text-decoration: line-through;
  color: #1F3D47A8;
  margin-right: 8px;
}

.product-description {
 
  line-height: 1.6;
}

.product-form {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.nav-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.nav-page{
  margin: 3rem;
}

.active{
   text-decoration: underline;
}
.product-form label {
  font-size: 1.5rem; 
  font-weight: 500;
}

.product-form select {
  font-size: 1.5rem; 
  padding: 0.4rem 0.8rem; 
  border-radius: px;
  background-color: #fff;
  color: #1F3D47;
  cursor: pointer;
}

.product-form option {
  font-size: 1.5rem; 
}
.cart-container{

    background-color: #F6EFD7;;
}
.cart-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color:  #1F3D47;;
  margin-bottom: 10px;
}
.cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.cart-item {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  background: white;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem 3rem 0.25rem 3rem;
  min-width: 50%;


}
#cart-empty{
  margin-bottom: 3rem;
}

.cart-item h3{
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  color: #1F3D47;
  line-height: 1.6;
  text-align: left;
}
.cart-item h3, p{
  margin: 0;
}


.cart-item-image {
  width: 100px;
  height: auto;
  object-fit: contain;
  padding: 1rem 0;
}
.cart-summary {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  background: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 0.5rem 3rem 0 3rem;


}
.cart-summary .cta-button {
  align-self: flex-start;
  margin-top: 0.5rem;
}
.cart-total{
  color: #c23833;
}

.remove-link {
  text-decoration: underline;
  cursor: pointer;
}


.conf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  gap: 3rem; 
  }
  .conf-container h1{
    margin-bottom: 0;
  }